<%- include("./partials/navbar.ejs") %> 
 <div class="home-img"><img src="IMG_5436.jpg" alt="asdf"> </div>
<div class="News">
    <h1> News</h1>
    <div class="News-contents">
        <% if (dbdata[1].length > 0) { %>

           <% dbdata[1].forEach((data) => { %>
            <div class="News-Wrapper">

            <div class="headline-text">

                <h1> <a href='<%= data._id %>' ><%= data.title %> </a> </h1>
                <p> <%= data.body %> </p>
            </div>
            <div class="headline-img"><img src="FMxXO1SXwAMt_Hi.jfif" alt="">
                <div class="top-blur"></div>

            </div>
        </div>
           <% }) %>
        <% } %>
    </div>
</div>

<div class="Events">
    <% if (dbdata[0].length > 0) { %>
       <% dbdata[0].forEach((data) => { %>

        <h1> <a href='<%= data._id %>' ><%= data.title %> </a> </h1>
        <p> <%= data.body %> </p>
        <p> `/$<%= data._id %>` </p>

       <% }) %>
    <% } %>
</div>

<%- include("./partials/footer.ejs") %> 
