<%- include("./partials/navbar.ejs") %> 

<div class="News">
<<<<<<< HEAD
    <% if (dbdata[1].length > 0) { %>
       <% dbdata[1].forEach((data) => { %>
        <h1> <a href='<%= data._id %>' ><%= data.title %> </a> </h1>
        
        <p> <%= data.body %> </p>
       <% }) %>
    <% } %>
</div>

<div class="Events">
    <% if (dbdata[0].length > 0) { %>
       <% dbdata[0].forEach((data) => { %>

        <h1> <a href='<%= data._id %>' ><%= data.title %> </a> </h1>
        <p> <%= data.body %> </p>
        <p> `/$<%= data._id %>` </p>

       <% }) %>
    <% } %>
=======
    <h1> <%= test %> </h1>
>>>>>>> 8c8f1b8abaf14f28ba6a035fc0c438cd972df8ee
</div>

<%- include("./partials/footer.ejs") %> 
